
hr {
    height: 20px;
    /* Grosor de la línea */
    background-color: #000000;
}

/*Margen de las cards*/
.card {
    margin-top: 10%;
}

/*Color de los titulos*/
h2 a.black-link {
    color: red;
    text-decoration: none;
  }

  /*centrar icono*/
  .navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  
  .navbar-icon {
    color: white;
    text-decoration: none; /* Para quitar el subrayado del enlace */
  }

  /*Color del icono*/
  .icono-medio{
    color: white;
  }


  .social-icons a {
    color: white;
    text-decoration: none;
  }

  .navbar-brand img {
    width: 80px; /* Ajusta el ancho de la imagen según tus necesidades */
    height: auto; /* Altura automática para mantener la proporción */

  }



  /* Estilo para las filas */
.row {
    margin-bottom: 20px; /* Margen inferior entre filas */
  }
  
  /* Estilo para las columnas */
  .col {
    padding: 10px; /* Relleno dentro de las columnas */
    border: 1px solid #ccc; /* Borde alrededor de las columnas */
  }


  /* Estilo para las imágenes dentro de las columnas */
.col img {
    width: 80%; /* Establece el ancho de la imagen al 100% del contenedor */
    height: auto; /* Mantiene la proporción de aspecto de la imagen */
    max-width: 80%; /* Establece el ancho máximo de la imagen al 100% del contenedor */
  }



  .container {
  padding: 20px;
}

.row {
  margin-bottom: 30px;
}

.col {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: 10px;
}

p {
  color: #6c757d;
  font-size: 18px;
}


.tag-highlight--secondary{
 
  margin-top: 10px;
  background-color: #000000;
}


.tag-highlight__title{
  color: white;
}


.tag-highlight{
  color: #fff;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}





  
  