body {
    background-color: #212529;
    color: white;
    margin: 0px 20vh 20px 20vh;
}

header {
    margin-bottom: 20px;
}

.text-body-emphasis {
    color: #fff !important;
}
.bg-body-secondary {
    --bs-bg-opacity: 1;
    background-color: rgb(52 58 64) !important;
}


.card {
    margin-top: 20px;
}

#carouselExampleSlidesOnly .carousel-inner .carousel-item img {
    object-fit: cover; /* Ajuste de tamaño de las imágenes dentro del carousel */
    width: 100%;
    height: 100%;
}





/* Media query para pantallas pequeñas (por ejemplo, celulares) */
@media (max-width: 872px) {
    body {
        margin: 0; /* Eliminar el margen en pantallas pequeñas */
    }
}
