body {
    background-color: #212529;
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
}

header {
    margin-bottom: 20px;
    
}

/* Carousel styles */
.carousel {
    height: 100%; /* Ensures the carousel takes the full height */
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    height: 100%;
}

.carousel-item img {
    object-fit: cover; /* Ensures the image covers the entire carousel item */
    height: 100%;
    width: 100%;
}
.texto-carousel {
    max-height: 570px;
    max-width: 98%;
    overflow-y: auto;
    text-align: justify;
}



.contenedor-chile .columna-texto .parrafos-c {
    max-height: 550px;
    max-width: 100%;
    overflow-y: auto;
    text-align: justify;
}

@media (max-width: 991px) {
    .card {
        margin: 10px 10px 10px 10px;
        max-width: 85%;
    }
}

@media (max-width: 767px) {
    .texto-carousel,
    .carousel-inner {
        max-height: none;
    }
}