body {
    background-color: #212529;
    color: white;
    margin: 0px 20vh 20px 20vh;
}

header {
    margin-bottom: 20px;
}

.text-body-emphasis {
    color: #fff !important;
}
.bg-body-secondary {
    --bs-bg-opacity: 1;
    background-color: rgb(52 58 64) !important;
}

.card {
    margin-top: 20px;
}

.text-conteiner {
    height: 700px;
    overflow-y: auto;
}

.text-conteiner .texto-carousel p{
    text-transform: capitalize;
}

.separador {
    margin: 10px 0 10px 0;
}

@media (max-width: 991px) {
    #carouselExampleSlidesOnly {
        margin-bottom: 20px;
    }
}

@media (max-width: 991px) {
    .card {
        margin: 10px 10px 10px 10px;
        max-width: 85%;

    }
}

/* Media query para pantallas pequeñas (por ejemplo, celulares) */
@media (max-width: 991px) {
    body {
        margin: 0; /* Eliminar el margen en pantallas pequeñas */
    }
}
