body {
    background: rgb(115,32,32);
    background: linear-gradient(90deg, rgba(115,32,32,1) 0%, rgba(115,32,32,1) 7%, rgba(0,0,0,1) 79%);
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
}

header {
    margin-bottom: 20px;
    
}





.contenedor-chile .columna-texto .parrafos-c {
    max-height: 550px;
    max-width: 100%;
    overflow-y: auto;
    text-align: justify;
}

@media (max-width: 991px) {
    .card {
        margin: 10px 10px 10px 10px;
        max-width: 85%;
    }
}

