{% load static %}
<div class="container">
    <div class="row">
        <div class="footer-col">
            <h4>Lo que hacemos</h4>
            <ul>
                <p>Nos dedicamos a mantenerte actualizado de las ultimas noticias del País y del Mundo.</p>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Quienes somos</h4>
            <ul>
                <p>Somos un noticiero creado por estudiantes de DuocUC Viña del Mar.</p>
            </ul>
        </div>
        <div class="footer-col">
            <h4>¿Necesitas ayuda?</h4>
            <ul>
                <P>Envíanos tu video o escribe una denuncia</P>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Síguenos</h4>
            <div class="social-links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
</div>
