{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CaosNews</title>
</head>
<body>

    <h1>Editar Datos de Usuarios</h1><br>
    <br>

    <button type = "button">
        <a href="{% url 'usuariosAdd' %}"> Agregar </a>
    </button>

    <div id ="idMensajes">
        {% if mendaje %}
            {{mensaje}}
        {% endif %}    
    </div>

    <table>
        {% if usuarios %}
            <th>Rut</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Eliminar</th>
            <th>Modificar</th>
            {% for x in usuarios %}
                <tr> 
                    <td> {{x.rut}}
                    <td> {{x.nombre}}
                    <td> {{x.apellido}}
                    <td> <a href="{% url 'usuarios_del' pk=x.rut%}" >Eliminar</a>
                    <td> <a href="{% url 'usuarios_findEdit' pk=x.rut%}" >Modificar</a>       

                    
                </tr>
            {% endfor %}
        {% endif %}

    </table>
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
 <script>
    $(document).ready(function(){
        $("#idMensajes").delay(2000).fadeOut("slow");
    })
 </script>   

    
</body>
</html>