<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CaosNews</title>
</head>
<body>
    <button type="button">
        <a href="{% url 'usuariosAdd' %}"> Agregar</a>
    </button>

    <div style="text-align: center;">
        <h2>Formulario CRUD para Usuarios</h2><br>
        <form action="alumnosAdd" method="POST">
            {% csrf_token %}

            <pre>Rut:                    <input type="text" name="rut" ></pre>
            <pre>Nombre:                 <input type="text" name="nombre" ></pre>
            <pre>Apellido P.:            <input type="text" name="paterno" ></pre>
            <pre>Apellido M.:            <input type="text" name="materno" ></pre>
            <pre>Fecha Nac.:                    <input type="date" name="fechaNac"></pre>   
            
            <pre>Genero:                         <select name="genero">
                {% for genero in generos %}
                    <option value="{{genero.id_genero}}" >{{genero.genero}}</option>
                {%endfor%}

            </select></pre>
            <pre>Celular:                 <input type="text" name="telefono"></pre>
            <pre>Email:                 <input type="mail" name="email"></pre>
            <pre>Direccion:                 <input type="text" name="direccion"></pre>
            
        </form>
    </div> 
    
</body>
</html>