<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuario</title>
</head>
<body>
    <div style="text-align: center;">
        {% if usuario %}
            <h2>Formulario Actualizar Datos</h2>

            <form action="{% url 'usuarioUpdate' %}" method="POST">
                {% csrf_token %}

                <pre>Rut:       <input type="text" name="rut" value="{{ usuario.rut }}" readonly></pre>
                <pre>Nombre:    <input type="text" name="nombre" value="{{ usuario.nombre }}"></pre>
                <pre>Apellido P.: <input type="text" name="paterno" value="{{ usuario.apellido_paterno }}"></pre>
                <pre>Apellido M.: <input type="text" name="materno" value="{{ usuario.apellido_materno }}"></pre>
                <pre>Fecha Nac: <input type="date" name="fechaNac" value="{{ usuario.fecha_nacimiento }}"></pre>
                <pre>Genero:
                    <select name="genero">
                        {% for genero in generos %}
                            {% if genero.id_genero == usuario.id_genero.id_genero %}
                                <option value="{{ genero.id_genero }}" selected>{{ genero.genero }}</option>
                            {% else %}
                                <option value="{{ genero.id_genero }}">{{ genero.genero }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </pre>
                <pre>Celular:   <input type="text" name="telefono" value="{{ usuario.telefono }}"></pre>
                <pre>Email:     <input type="text" name="email" value="{{ usuario.email }}"></pre>
                <pre>Direccion: <input type="text" name="direccion" value="{{ usuario.direccion }}"></pre>

                <input type="submit" name="opcion" value="Actualizar">
            </form>
            <br><br>
        {% endif %}
        <div id="idMensajes">
            {% if mensaje %}
                {{ mensaje }}
            {% endif %}
        </div>
        <br><br>
        <a href="{% url 'crud' %}">Volver</a>
    </div>
</body>
</html>

